.header {
    grid-area: header;
    background-color: aqua;
}

.header img {
    max-width: 50px;
    max-height: 50px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: indianred;   
}