.navBar {
    flex: 0 0 16%;
    margin: 5px 5px 0 0;
    
}   

.nav {
    background-color: #f4ebcd;
    padding: 15px 15px 50px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    -webkit-box-shadow: 0px 1px 7px -3px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 1px 7px -3px rgba(0,0,0,0.55);
    box-shadow: 0px 1px 7px -3px rgba(0,0,0,0.55);
}

.item a {
    color: black;
    font-weight: 700;
    text-decoration: none;
}

.item a.active {
    color: gold;
}

.person img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.person p {
    margin: 0;
    font-weight: 500;
    color: darkorange;
}

.person {   
    flex: 0 0 50px;
}

.friends {
    display: flex;  
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 5px;
    background-color: #f4ebcd;
}

aside h3 {
    margin: 5px 5px 5px;
    font-size: 26px;
}

aside {
    background-color:#f9f9f9;
    overflow: auto;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    -webkit-box-shadow: 0px 1px 7px -3px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 1px 7px -3px rgba(0,0,0,0.55);
    box-shadow: 0px 1px 7px -3px rgba(0,0,0,0.55);
}